/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-color: #000000;
  --button-text-color: #fff;
  --page-background-color: #ffffff;
  --main-font-family: "Inter", sans-serif;
  --main-font-weight: 400;
  --headings-font-weight: 700;
  --accent-font-family: "PressStart2P", fantasy;
  --page-background-image: repeating-linear-gradient(
    to left,
    #d3d3d3 0 2px,
    #d3d3d300 2px 4px
  ),
  repeating-linear-gradient(to bottom, #d3d3d3 0 2px, #d3d3d300 2px 4px),
  linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  --like-main-body-color: none;
  --like-sparks-color: #ff0000;
}